@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222831;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: #000 1px 0 10px;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}

::selection {
  background: #00adb5;
  color: #333;
}
